<a href="https://colab.research.google.com/github/skywalker0803r/Prediction-of-suspected-money-laundering-transactions/blob/main/mergedata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

n = 3000000 #for test the number can be small
dfx = pd.read_csv('/content/drive/MyDrive/洗錢預測/train_x_alert_date.csv').head(n)
dfx.head()

   alert_key  date
0     171189     0
1     171202     0
2     171599     0
3     171737     0
4     171142     0

In [15]:
dfy = pd.read_csv('/content/drive/MyDrive/洗錢預測/train_y_answer.csv').head(n)
dfy.head()

   alert_key  sar_flag
0     171189         0
1     171202         0
2     171599         0
3     171737         0
4     171142         0

In [16]:
custinfo = pd.read_csv('/content/drive/MyDrive/洗錢預測/public_train_x_custinfo_full_hashed.csv').head(n)
custinfo.head()

,alert_key,cust_id,risk_rank,occupation_code,total_asset,AGE
0,352249,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1465816.0,7
1,352253,b212d14cb35676926682b2cf849e295d948888f556c07e...,1,2.0,98177.0,2
2,352254,e5b0002791c7852644a2730abeaa893cdf14a072ef7812...,1,19.0,2052922.0,7
3,352280,74214c478dc6519fbefe4bc31693865bdcd698ab974b64...,3,15.0,201906.0,5
4,352282,0340e7611f0d82c3cb87e6194fa14bb2ccf8afbf1b3418...,1,12.0,7450.0,5

In [17]:
dfxy = pd.merge(dfx,dfy,on='alert_key')
dfxy_custinfo = pd.merge(dfxy,custinfo,on='alert_key')
dfxy_custinfo

,alert_key,date,sar_flag,cust_id,risk_rank,occupation_code,total_asset,AGE
0,171189,0,0,972ee157e63316e8a50dd489bc93730a3ee8a8959d5c6b...,1,17.0,375576.0,4
1,171202,0,0,a10ab33f90926fb18d7bb5e78034d7f04a1fbed95b7951...,3,12.0,2717416.0,2
2,171599,0,0,3433ecc068ed1c9e2f5037cab5d42d7b901e9bd624c1fb...,1,12.0,326517.0,4
3,171737,0,0,a0861608615a9365d90f4ba0a813c0ea0471987f925c8b...,3,14.0,1014759.0,4
4,171142,0,0,a39fea9aec90969fe66a2b2b4d1b86368a2d38e8b8d4bf...,3,12.0,241719.0,3
...,...,...,...,...,...,...,...,...
23901,352132,364,0,c49b33d1fde790ec03584672903f296e486615adfdc989...,1,19.0,3218731.0,3
23902,352125,364,0,0c2dc5fedc3689abf5ff4be14fe8fea8d23d22068297c2...,3,19.0,928963.0,3
23903,352080,364,0,1a93961c8fa830a1f32f5316b44f4964d65397f0311b11...,2,9.0,69080.0,6
23904,352075,364,0,9586b80d3ad1d74c0a1efe792cae2ecd073243fb01ed33...,3,3.0,262604.0,6
23905,351927,364,0,7dc5256ef411c745dc3064da2f231c104ca270f564d3d0...,1,9.0,332834.0,2

In [19]:
dfxy_custinfo.to_csv('/content/drive/MyDrive/洗錢預測/dfxy_custinfo.csv')