<a href="https://colab.research.google.com/github/skywalker0803r/Prediction-of-suspected-money-laundering-transactions/blob/main/mergedata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd

n = 30000 #for test the number can be small
dfx = pd.read_csv('/content/drive/MyDrive/洗錢預測/train_x_alert_date.csv').head(n)
dfx.head()

   alert_key  date
0     171189     0
1     171202     0
2     171599     0
3     171737     0
4     171142     0

In [24]:
dfy = pd.read_csv('/content/drive/MyDrive/洗錢預測/train_y_answer.csv').head(n)
dfy.head()

   alert_key  sar_flag
0     171189         0
1     171202         0
2     171599         0
3     171737         0
4     171142         0

In [25]:
dfx_ccba = pd.read_csv('/content/drive/MyDrive/洗錢預測/public_train_x_ccba_full_hashed.csv').head(n)
dfx_ccba.head()

,cust_id,lupay,byymm,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
0,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,0,152628.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,30,152628.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,61,152628.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,91,152628.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,122,152628.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
dfx_cdtx = pd.read_csv('/content/drive/MyDrive/洗錢預測/public_train_x_cdtx0001_full_hashed.csv').head(n)
dfx_cdtx.head()

,cust_id,date,country,cur_type,amt
0,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,1,130,47,2312.0
1,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,10,130,47,808.0
2,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,10,130,47,7099.0
3,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,13,130,47,306.0
4,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,15,130,47,255.0

In [27]:
dfx_ccba_cdtx = pd.merge(dfx_ccba,dfx_cdtx,on='cust_id').head(n)
dfx_ccba_cdtx

,cust_id,lupay,byymm,cycam,usgam,clamt,csamt,inamt,cucsm,cucah,date,country,cur_type,amt
0,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,1,130,47,2312.0
1,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,10,130,47,808.0
2,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,10,130,47,7099.0
3,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,13,130,47,306.0
4,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,15,130,47,255.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,06c5ea5ccda4dfd8839c0dec8646fb3071d2c02883ef8a...,1031083.0,334,124192.0,117370.0,0.0,0.0,0.0,986588.0,0.0,234,130,47,31.0
29996,06c5ea5ccda4dfd8839c0dec8646fb3071d2c02883ef8a...,1031083.0,334,124192.0,117370.0,0.0,0.0,0.0,986588.0,0.0,234,130,47,232.0
29997,06c5ea5ccda4dfd8839c0dec8646fb3071d2c02883ef8a...,1031083.0,334,124192.0,117370.0,0.0,0.0,0.0,986588.0,0.0,234,61,47,31.0
29998,06c5ea5ccda4dfd8839c0dec8646fb3071d2c02883ef8a...,1031083.0,334,124192.0,117370.0,0.0,0.0,0.0,986588.0,0.0,234,130,47,228.0
29999,06c5ea5ccda4dfd8839c0dec8646fb3071d2c02883ef8a...,1031083.0,334,124192.0,117370.0,0.0,0.0,0.0,986588.0,0.0,235,130,47,264.0

In [28]:
dfx_custinfo = pd.read_csv('/content/drive/MyDrive/洗錢預測/public_train_x_custinfo_full_hashed.csv').head(n)
dfx_custinfo.head()

,alert_key,cust_id,risk_rank,occupation_code,total_asset,AGE
0,352249,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1465816.0,7
1,352253,b212d14cb35676926682b2cf849e295d948888f556c07e...,1,2.0,98177.0,2
2,352254,e5b0002791c7852644a2730abeaa893cdf14a072ef7812...,1,19.0,2052922.0,7
3,352280,74214c478dc6519fbefe4bc31693865bdcd698ab974b64...,3,15.0,201906.0,5
4,352282,0340e7611f0d82c3cb87e6194fa14bb2ccf8afbf1b3418...,1,12.0,7450.0,5

In [29]:
dfx_ccba_cdtx_custinfo = pd.merge(dfx_ccba_cdtx,dfx_custinfo,on='cust_id').head(n)
dfx_ccba_cdtx_custinfo.head()

,cust_id,lupay,byymm,cycam,usgam,clamt,csamt,inamt,cucsm,cucah,date,country,cur_type,amt,alert_key,risk_rank,occupation_code,total_asset,AGE
0,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,1,130,47,2312.0,356608,1,19.0,493333.0,4
1,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,1,130,47,2312.0,358040,1,19.0,493333.0,4
2,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,1,130,47,2312.0,363322,1,19.0,493333.0,4
3,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,10,130,47,808.0,356608,1,19.0,493333.0,4
4,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,10,130,47,808.0,358040,1,19.0,493333.0,4

In [31]:
dfx_alert_date = pd.read_csv('/content/drive/MyDrive/洗錢預測/public_x_alert_date.csv').head(n)
dfx_alert_date.head()

   alert_key  date
0     352342   365
1     352866   365
2     352696   365
3     352330   365
4     352683   365

In [33]:
dfx_ccba_cdtx_custinfo_alert_date = pd.merge(dfx_ccba_cdtx_custinfo,dfx_alert_date,on='alert_key').head(n)
dfx_ccba_cdtx_custinfo_alert_date.head()

,cust_id,lupay,byymm,cycam,usgam,clamt,csamt,inamt,cucsm,cucah,date_x,country,cur_type,amt,alert_key,risk_rank,occupation_code,total_asset,AGE,date_y
0,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,1,130,47,2312.0,356608,1,19.0,493333.0,4,378
1,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,10,130,47,808.0,356608,1,19.0,493333.0,4,378
2,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,10,130,47,7099.0,356608,1,19.0,493333.0,4,378
3,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,13,130,47,306.0,356608,1,19.0,493333.0,4,378
4,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,24480.0,0,30686.0,12817.0,0.0,0.0,2641.0,10176.0,0.0,15,130,47,255.0,356608,1,19.0,493333.0,4,378

In [35]:
dfx.head()

   alert_key  date
0     171189     0
1     171202     0
2     171599     0
3     171737     0
4     171142     0

In [36]:
dfy.head()

   alert_key  sar_flag
0     171189         0
1     171202         0
2     171599         0
3     171737         0
4     171142         0

In [38]:
dfxy = pd.merge(dfx,dfy,on='alert_key').head(n)
dfxy.head()

   alert_key  date  sar_flag
0     171189     0         0
1     171202     0         0
2     171599     0         0
3     171737     0         0
4     171142     0         0

In [39]:
dfx_ccba_cdtx_custinfo_alert_date.to_csv('dfx_ccba_cdtx_custinfo_alert_date.csv')
dfxy.to_csv('dfxy.csv')